body{
   background-color: rgb(134, 134, 134);
}

span{
   color: aqua;
}

.paragraph-1 {
   background: blue;
   font-size: 32pt;
   color: green;
}

.paragraph-2 {
   border: 10px solid rgb(0, 0, 0);
   border-radius: 100px;
   font-size: 24px;
   padding: 100px 100px 100px 100px
}

.paragraph-3 {
   font-size: 22;
   font-weight: bold;
   font-family: Courier New;
}

.paragraph-4 {
   font-size:24;
   font-style: italic;
   text-align: center;
   text-shadow: 2px 3px green;
}

